// шрифт основний, записаний у змінну
$fontFamily: "Poppins", sans-serif;
$fontFamilyLogo: "BonVivant", sans-serife;
$mainFontSize: rem(1); //розмір шрифта за замoвчуванням

// ширина полотна
$maxWidth: 1926px;

// мінімільний розмір сторінки
$minWidth: 320px;

// ширина обмежуючого контейнера
$maxWidthContainer: 1170px;

// загальний відступ у контейнера
// (30 = по 15px зліва та зправа, 0 = немає відступа)
$containerPadding: 30px;
// ширина спрацювання першого брейкпщінта
$containerWidth: $maxWidthContainer + $containerPadding;

// брейк-поінти
$pc: em($containerWidth); //ПК, ноутбук, деякі планшети в горизонтальному положенні
$tablet: em(991.98); //Планшети, деякі телефони в горизонтальному положенні
$mobile: em(767.98); //телефони L
$mobileSmall: em(479.98); //телефони S

// тип адаптива:
//  1 = відзивчива (у контейнера немає брейкпоінтів),
//  2 = по брейк-поінтам (контейнер міняє свою ширину по брейк-поінтам)
$responsiveType: 2;

//  основні кольори для використання
$blackColor: #000000;
$whiteColor: rgb(255, 255, 255);
$mainColor: rgb(248, 8, 68);
$mainColor2: rgba(246, 61, 48, 0.937);
$mainColorElement: rgb(32, 160, 206);
$mainColorElement_1: rgb(54, 119, 143);
$mainColorElement_2: rgb(85, 110, 125);
$mainColorElement_3: rgb(116, 101, 107);

//Primary color
// $primaryColor_default: $mainColor;
