@font-face {
	font-family: BonVivantSerif;
	font-display: swap;
	src: url("../fonts/BonVivantSerif.woff2") format("woff2"), url("../fonts/BonVivantSerif.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BonVivant;
	font-display: swap;
	src: url("../fonts/BonVivant-Regular.woff2") format("woff2"), url("../fonts/BonVivant-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: BonVivantSerifBold;
	font-display: swap;
	src: url("../fonts/BonVivantSerifBold.woff2") format("woff2"), url("../fonts/BonVivantSerifBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: icons;
	font-display: swap;
	src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
