//@use "sass: math";

//підключення міксинів після змінних
//@import "base/mixins";
@import "base/variables.scss";
@import "base/mixins.scss";

// обнулення
@import "base/_nullStyle";
@import "base/_normalize";

//  підключення додаткових модулів
//@import "fonts/icons.scss";
@import "blocks/title";
@import "blocks/_main";
@import "blocks/_header";
@import "blocks/_sidepanel";
@import "blocks/menu";
@import "blocks/_about";

// підключення шрифтів для використання &display=swap - при підключенні через плагін
@import url(https://fonts.googleapis.com/css?family=Poppins:500,700,&display=swap);

// =======================================================================================
// підключення локальних шрифтів
@import "fonts.scss";

// підключення іконочного шрифту
@import "fonts/icons.scss";

//================== настройки шаблону

// стилі тега BODY =========================================================
* {
   margin: 0;
   padding: 0;
}
html,
body {
   font-family: $fontFamily;
   font-weight: 400;
   color: $whiteColor;
   @include adaptive-font(14, 11);

   // скролл заблокований
   ._lock {
      overflow: hidden;
      // touch-action: none;
      //overscroll-behavior: none;
   }
   // сайт загружений
   // .loaded & {

   // }
}

// оболочка wrapper
.wrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
   width: 100%;
   margin: 0 auto;
   position: relative;
   box-sizing: border-box;
}

//========================== настройки для контейнера ===============
[class*="__container"] {
   padding: 0px 15px;
   max-width: $maxWidthContainer;
   margin: 0 auto;
}
[class*="text"] {
   text-indent: 1em;
   p {
      padding: 2px 0px;
      text-indent: 1em;
   }
}

//================divider ======================
.divider {
   width: 60px;
   height: 3px;
   background-color: $mainColor;
   margin-top: 25px;
}

// ======================================== blocks ===============================================
header {
   flex: 0 1 auto;
   min-height: 100vh;
   position: reletive;
   background: no-repeat bottom/ cover url("@img/bg/1DM39594.jpeg");
   padding-top: 205px;
}
main {
   flex: 1 1 auto; // прижимаєм footer
   background-color: $mainColorElement;
}

footer {
   flex: 0 1 auto;
   background-color: $mainColorElement_3;
}
